/* Basic reset and global styles */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
}

/* Prevent text selection */
button {
  user-select: none;
}